# -*- coding: utf-8 -*-
#
# This file is part of Flask-Collect-Invenio.
# Copyright (C) 2012 - 2016 Kirill Klenov.
# Copyright (C) 2021        TU Wien.
#
# Flask-Collect-Invenio is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

include LICENSE
include MANIFEST.in
include CONTRIBUTORS.rst
include DESCRIPTION
include README.rst
include CHANGES.rst

recursive-include flask_collect *
recursive-include docs *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
recursive-exclude tests *
recursive-exclude docs/_build *

exclude *.ini
exclude .coveragerc
exclude .editorconfig
exclude run-tests.sh
